<div class="title-wrapper">
  <h2 class="title">Welcome to Project Night</h2>
</div>

<ul>
  <li>{{country-thumb countryName='England'}}</li>
  <li>{{country-thumb countryName='France'}}</li>
  <li>{{country-thumb countryName='Russia'}}</li>
  <li>{{country-thumb countryName='Albania'}}</li>
  <li>{{country-thumb countryName='Slovakia'}}</li>
  <li>{{country-thumb countryName='Russia'}}</li>
  <li>{{country-thumb countryName='Turkey'}}</li>
  <li>{{country-thumb countryName='Poland'}}</li>
  <li>{{country-thumb countryName='Wales'}}</li>
</ul>


{{outlet}}
